.slot-card {
  padding: 15px;
  border-radius: 10px;
  color: black;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

/* AVAILABLE → GREEN */
.true {
  background-color: #2ecc71;
}

/* BOOKED → RED */
.false {
  background-color: #e74c3c;
  cursor: not-allowed;
  opacity: 0.7;
}

.slot-card:hover {
  transform: scale(1.05);
}
